# Components

<!--
  AGENT: one subsection per significant component (package, service,
  binary). For each, cover:
    - What it does (1–2 sentences).
    - Inputs and outputs (where its data comes from, where it goes).
    - Notable internal structure (entry points, key types).
    - Where in the repo it lives.
  Skip components that are too small to warrant their own subsection —
  fold them into a parent component instead.
-->
